{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
    {% block top_scripts %}{% endblock %}
    <title>Projects</title>
</head>
<body>
<div class="container-fluid">
{% if request.user.is_authenticated %}
    <h1>
        Welcome, {{ request.user.full_name }}!
        Available tokens to read: <span class="tokens-left">{{ request.user.get_tokens_count }}</span>
        {% if request.user.zero_tokens %}
        <input type="hidden" value="1" id="is_zero_tokens">
        {% endif %}
    </h1>
    {% else %}
    <h1>Welcome to Account Limitations</h1>
    <input type="hidden" value="1" id="is_anonymous">
{% endif %}
    <div class="row">
        {% block content %}{% endblock %}
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"
        integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"
        integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm"
        crossorigin="anonymous"></script>
<script src="{% static 'js/main.js' %}"></script>
{% block bottom_scripts %}{% endblock %}
</body>
</html>