{% extends 'base.html' %}
{% load render_table from django_tables2 %}
{% load static %}
{% block content %}
        {% include 'utils/navigation.html' %}
        <div class="col col-lg-9">
        <h2>My Projects</h2>
            {% render_table projects %}
        <h4><a href="{% url 'add_project' %}">Add project</a></h4>
        </div>
{% endblock %}
