{% extends 'base.html' %}
{% block content %}
    {% include 'utils/navigation.html' %}
    <div class="col col-lg-9">
        <h1>{{ project.title }}</h1>
        <hr/>
        <p>{{ project.description|linebreaksbr }}</p>
    </div>
{% endblock %}