{% extends 'base.html' %}
{% block content %}
    {% include 'utils/navigation.html' %}
    <div class="col col-lg-9">
    <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Save" class="btn btn-dark">
    </form>
    </div>
{% endblock %}