{% extends 'base.html' %}
{% block content %}
    {% include 'utils/navigation.html' %}
    <div class="col col-lg-9">
        <h1>Project Views limit exceed</h1>
        <hr/>

        <p>You can view only this projects:</p>
        <ul>
            {% for project in projects %}
                <li><a href="{% url 'view_project' pk=project.pk %}">{{ project.title }}</a></li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}