{% extends 'base.html' %}
{% load render_table from django_tables2 %}
{% load static %}
{% block content %}
        {% include 'utils/navigation.html' %}
        <div class="col col-lg-9">
        <h2>Projects</h2>
        <div id="projects">
            {% render_table projects %}
        </div>
        </div>



    <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="globalModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" id="globalModalLabel">Info</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body server-response">
            <p></p>
          </div>
        </div>
      </div>
    </div>

{% endblock %}
{% block bottom_scripts %}
    <script>
    $(document).ready(function () {
        var anonymous = parseInt($("#is_anonymous").val());
        var is_zero_tokens = parseInt($("#is_zero_tokens").val());

        if(is_zero_tokens) {
            var message = "You don`t have tokens to view Projects!";
            $(".bd-example-modal-lg .server-response p").html(message);
            $(".bd-example-modal-lg").modal('show');
        }

        if(anonymous){
            var message = "Please login to see project details";

            $(".bd-example-modal-lg .server-response p").html(message);

            $("#projects td a").each(function () {
                $(this).attr("href", "#");
                $(this).click(function (e) {
                    e.preventDefault();
                    $(".bd-example-modal-lg").modal('show');
                    return false;
                });
            });
        }
    });

    </script>
{% endblock %}